html {
    $white: #ffffff;

    $gray-light: #E6E6E6;
    $gray: #C4C4C4;
    $gray-dark: #AEAEAE;
    $gray-darken: #6A757C;
    $black: #070C14;

    $color-primary: #303233;
    $color-secondary: #070C14;
    $color-danger: #F20000;
    $color-accept: #00A550;

    $font-size: 1rem;
    $font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Roboto', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}